.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(116, 56, 184);
    color: white;
    text-align: center;
}

.footer ul{
  color: aquamarine;
  margin-right: 1em;
  text-decoration: none;
  transition: .3s;
}