.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 2em 1.2em;
    width: 100%;
    background-color: rgb(116, 56, 184);
    color: white;
    text-align: center;
    margin-top: 2em;
    border-top: 3px solid #111;
    height: 50px;
}

.footer ul{
  color: aquamarine;
  margin-right: 1em;
  text-decoration: none;
  transition: .3s;
}