.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: rgb(82, 47, 240);
    color: #fff;
}

.navbar li{
    color: aquamarine;
    margin-right: 1em;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover {
    color: #999;

}